[submodule "lib/SynEdit"]
	path = lib/SynEdit
	url = git@github.com:SynEdit/SynEdit.git
	branch = master
[submodule "lib/GpDelphiUnits"]
	path = lib/GpDelphiUnits
	url = git@github.com:gabr42/GpDelphiUnits.git
	branch = master
[submodule "lib/CastaliaDelphiParser"]
	path = lib/CastaliaDelphiParser
	url = git@github.com:jacobthurman/Castalia-Delphi-Parser.git
[submodule "lib/EZDSL"]
	path = lib/EZDSL
	url = git@github.com:jmbucknall/EZDSL.git
